.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  padding: 40px;
  border-radius: 4px;
}

.contact-form__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.backdrop__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.contact-form__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-text);
}

.contact-form__wrapper {
  position: relative;
}

.contact-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form-input:focus+& {
    fill: var(--accent-color);
  }

}

.contact-form__field {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-text);
}

.contact-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.17;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;

  letter-spacing: 0.03em;
  color: var(--primary-text-color-text);

  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    cursor: pointer;
    margin-right: 8px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox:focus+& {
      outline: 1px solid var(--accent-color);
    }

    .checkbox:checked+& {
      background-image: url('../images/icon-check.svg');
      border: 1px solid var(--accent-color);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      outline: none;
    }
  }
}


.checkbox__wrapper {
  display: block;
  margin-bottom: 30px;
}

.checkbox__conditions {
  color: var(--accent-color);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: underline;
}


.submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 32px;

}

@media screen and (max-width:1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }

  .checkbox__label {
    font-size: 12px;
    line-height: 1.17;
  }

  .checkbox__conditions {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width:1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }

  .checkbox__label {
    font-size: 14px;
    line-height: 1.7;
  }

  .checkbox__conditions {
    font-size: 14px;
    line-height: 1.7;
  }
}