.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--secondary-title-text-color);
  font-size: 18px;
  line-height: 1, 55;
  letter-spacing: 0.03em;
  vertical-align: top;
  padding: 62px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;

}

.projects__link:hover .overlay,
.projects__link:focus .overlay {
  transform: translateY(0%);
}